<!-- The elusive follow button -->
{{ 'follow.js' | asset_url | script_tag }}
<div id="followFrame">
	<div class="" id="followForm">
		<form action="" method="post" id="followers" name="followers" class="" target="">
			<input type="email" value="{{ customer.email }}" name="EMAIL" class="{% if customer %} hideAll {% endif %}" id="EMAIL" placeholder="email">
			<input type="hidden" value="{{ collection.title }}" name="collection" class="required" id="collection">
		</form>
		<button class="btn--secondary" id="follower" class="{% if customer %}customer-logged-in {% endif %}">follow</button>
		<p class="hiddenMobile small">Learn more about {{ collection.title }} and get a first look at their new collections</p>
	</div>
	<div style="clear: both"></div>
</div>
