<style>
    .valueprop {
        font-family: 'Bitter', serif !important;
        font-style: italic !important;
        background-image: url("//cdn.shopify.com/s/files/1/1159/6060/files/vp_BG.jpg?11453347588707620078");
        background-position: center;
        background-size: cover;
    }
        .valueprop .h {
            font-size: 30px !important;
        }
    .splitCTA {
        padding-top: 5%;
    }
    .splitCTA  .h {
        font-family: 'Bitter', serif !important;
        font-size: 48px !important;
        font-weight: 700;
        font-style: bold !important;
    }
    
    .splitJoin {
        background-image: url("//cdn.shopify.com/s/files/1/1159/6060/files/splitJoinBG.jpg?17640566089680074932");
        background-size: cover;
        background-position: center;
        min-height: 400px;
    }
        .splitJoin button {
            color: #FD9823;
        }
    .splitShop {
        background-image: url("//cdn.shopify.com/s/files/1/1159/6060/files/splitShopBG.jpg?17640566089680074932");
        background-size: cover;
        background-position: center;
        min-height: 400px;
    }
        .splitShop button {
            color: #E42666;
        }
    .splitCTA .btn--secondary {
        background-color: #fff;
        padding: 10px 20px;
        box-shadow: 0 4px 8px rgba(0,0,0, 0.25);
        -webkit-box-shadow: 0 4px 8px rgba(0,0,0, 0.25);
    }
    .splitCTA button {
        margin-top: 20px;
    }
        .splitCTA button:hover {
            background-color: #000;
        }
</style>    
<!-- Main Featured Header -->
</main>

<section class="grid--full feature-header">
    <div class="valueprop grid__item one-whole text-center text-white genSection">
        <p class="h">Your Brand + Our Designers</p>
        <p>Beautiful merch for your fans</p>
    </div>
    
    <div class="splitCTA splitJoin grid__item large--one-half text-center text-white genSection">
        <div class="grid__item large--four-fifths push--large--one-tenth">
            <p class="h">Open your shop today,<br />it's free!</p>
            <a href="/pages/storefronts">
                <button class="btn--secondary">Join Our Marketplace</button>
            </a>
        </div>        
    </div>
    <div class="splitCTA splitShop grid__item large--one-half text-center text-white genSection">
        <div class="grid__item large--four-fifths push--large--one-tenth">
            <p class="h">1,000+ Partners</p>
            <p>Awesome artists, talented musicians, inspiring causes, world-class atheletes, and the coolest influencers around.</p>
            <a href="/collections/all">
                <button class="btn--secondary">Shop Great Products</button>
            </a>
        </div>
    </div>
</section>

<main class="wrapper main-content big-margin" role="main">