<section class="grid">
    <div class="grid__item large--one-half">
        <img src="http://cdn.shopify.com/s/files/1/1159/6060/products/mat-jellyfish_watch_large.png?v=1455158901" />
    </div>
    <div class="grid__item large--one-half genSection">
        <h4>Modify was founded in 2014</h4>
        <hr class="orangeDash" />
        <p>
            by the same team that brought you 
            <a href="www.modifywatches.com">Modify Watches</a>. 
            Since 2010 our team has focused on helping folks show their colors. Why? Because we're pretty nerdy and not that stylish. It always made more sense to ask you what YOU wanted to wear, and then make it for you.
        </p>
    </div>
</section>

<section class="grid">
    <div class="grid__item large--one-half genSection">
        <h4>For a lot of you,</h4>
        <hr class="orangeDash" />
        <p>
            that was your favorite sports teams, so we picked up licenses with Major League Baseball, the NBA, NHL, MLS and more. Some of y'all LOVE the Foo Fighters or playing Civilization thus our partnerships with LiveNation and 2K Games.            
        </p>
    </div>
    <div class="grid__item large--one-half">
        <img src="http://cdn.shopify.com/s/files/1/1159/6060/products/mat-jellyfish_watch_large.png?v=1455158901" />
    </div>
</section>
    
<section class="grid">
    <div class="grid__item large--one-half">
        <img src="http://cdn.shopify.com/s/files/1/1159/6060/products/mat-jellyfish_watch_large.png?v=1455158901" />
    </div>
    <div class="grid__item large--one-half genSection">
        <h4>Others love</h4>
        <hr class="orangeDash" />
        <p>
            their company and wanted year-end gifts. And thousands of you wanted something completely custom - a photo of your dog, your family, or some ridiculous inside joke that probably didn't make sense to your friend either.
        </p>
    </div>
</section>

</main>

    <section class="grid__item text-center light-bg genSection">
        <h4>
            We digress. Modify's purpose is to help you
        </h4>
        <hr class="orangeDash-center" />
        <h2><i>Wear Your Passion.</i></h2>
    </section>
    
<!-- Restart Global Wrapper -->
<main class="wrapper main-content" role="main"> 

    <div class="grid"> 
        <div class="grid__item large--one-half push--large--one-quarter genSection">
            <img src="http://cdn.shopify.com/s/files/1/1159/6060/products/mat-jellyfish_watch_large.png?v=1455158901" />
        </div>
    </div>
    
    <div class="grid">
        <div class="grid__item large--one-half push--large--one-quarter genSection">
            <p>
                But for the local, or up-and-coming organization or influencer creating <b>merchandise is hard</b>. 
            </p>
            
            <ol>
                <li>It's expensive</li>
                <li>You need to make a great design</li>
                <li>You need to deal with customer service and (oh no!) the post office</li>
            </ol>
            
            <p>
                So <b>Modify does it all , with no cost and no risk</b> to our partners. Anyone with a passionate audience <i>need</i> apply. You bring your supporters, we'll create an A+ experience for them with amazing goods that tell your story how it deserves to be told.
            </p>
        </div>
    </div>  


</main>   
    <div class="grid__item large--one-whole text-center light-bg genSection">
        <h4>
            Who do we work with?
        </h4>
        <hr class="orangeDash-center">
        <p>
            Maybe it's an image of your local nonprofit, or the album art of an underground band, or some incredible designs from a street artist.
        </p>
        <p>
            Or, you know, the # of your favorite athlete or the logo of your high school (go Hawks!) or some crazy Instagram or YouTube personality or ...
        </p>
        <p>
            The point is, we don't know what's cool. YOU DO. So, tell us who to work with and we'll do alllll of the heavy-lifting.
        </p>
    </div>
<!-- Restart Global Wrapper -->
<main class="wrapper main-content" role="main"> 