<section class="grid genSection">
    <div class="grid__item large--one-half">
        <img src="{{ 'about_Team.jpg' | asset_url }}" alt="Team at Tacobell" />
    </div>
    <div class="grid__item large--one-half">
        <h4>Modify was founded in 2015</h4>
        <hr class="orangeDash" />
        <p>
            by the same team that started
            <a href="www.modifywatches.com">Modify Watches</a>
            in 2010. Cool, right? After five years of building a brand that focused on customization and great service, we realized that there was a *huge* gap in the market.
        </p>
    </div>
</section>

<section class="grid genSection">
    <div class="grid__item large--one-half">
        <h4>Delivering <u>great</u> merch is hard</h4>
        <hr class="orangeDash" />
        <p>
            for the little guys. See, we'd been partners with brands like the NBA, MLB, Livenation and created custom designs for dozens of Fortune-500 companies like Facebook, Google and Nike. But we kept hearing from nonprofits, social media influencers, artists and musicians that they wanted custom goods too.            
        </p>
    </div>
    <div class="grid__item large--one-half media-image">
        <img src="http://cdn.shopify.com/s/files/1/1159/6060/products/mat-jellyfish_watch_large.png?v=1455158901" />
    </div>
</section>

<section class="grid genSection">
    <div class="grid__item large--one-half">
        <img src="http://cdn.shopify.com/s/files/1/1159/6060/products/mat-jellyfish_watch_large.png?v=1455158901" />
    </div>
    <div class="grid__item large--one-half">
        <h4>And it's all free!</h4>
        <hr class="orangeDash" />
        <p>
            Yup, free. Our partners are the up-and-comers of the world, and they don't have time or money to waste. So we invested in all of the critical needs for a great merch site, in order to give it to our partners:         
        </p>
        <ol>
            <li>Design - Free.</li>
            <li>Inventory - We'll hold it.</li>
            <li>eCommerce - Partners are on our marketplace <i>and</i> they get a shop page on their site.</li>
            <li>Logistics - We <u>love</u> going to the post office.</li>
            <li>Make Customers Happy - That's the one thing we do best.</li>
        </ol>
    </div>
</section>

</main>

    <section class="grid__item text-center light-bg genSection">
        <h4>
            We digress. Modify's purpose is to help you
        </h4>
        <hr class="orangeDash-center" />
        <h2><i>Wear Your Passion.</i></h2>
    </section>
    
<!-- Restart Global Wrapper -->
<main class="wrapper main-content" role="main"> 

    <div class="grid--full"> 
        <div class="grid__item large--one-half push--large--one-quarter genSection">
            <img src="http://cdn.shopify.com/s/files/1/1159/6060/products/mat-jellyfish_watch_large.png?v=1455158901" />
        </div>
    </div>
    
    <div class="grid--full">
        <div class="grid__item large--one-half push--large--one-quarter genSection">
            <p>
                But for the local, or up-and-coming organization or influencer creating <b>merchandise is hard</b>. 
            </p>
            
            <ol>
                <li>It's expensive</li>
                <li>You need to make a great design</li>
                <li>You need to deal with customer service and (oh no!) the post office</li>
            </ol>
            
            <p>
                So <b>Modify does it all , with no cost and no risk</b> to our partners. Anyone with a passionate audience <i>need</i> apply. You bring your supporters, we'll create an A+ experience for them with amazing goods that tell your story how it deserves to be told.
            </p>
        </div>
    </div>  


</main>   
    <div class="grid__item large--one-whole text-center light-bg genSection">
        <h4>
            Who do we work with?
        </h4>
        <hr class="orangeDash-center">
        <p>
            Maybe it's an image of your local nonprofit, or the album art of an underground band, or some incredible designs from a street artist.
        </p>
        <p>
            Or, you know, the # of your favorite athlete or the logo of your high school (go Hawks!) or some crazy Instagram or YouTube personality or ...
        </p>
        <p>
            The point is, we don't know what's cool. YOU DO. So, tell us who to work with and we'll do alllll of the heavy-lifting.
        </p>
    </div>
<!-- Restart Global Wrapper -->
<main class="wrapper main-content" role="main"> 